<div class="networks">
  <h4>Si tienes un feedback para mí lo recibiré con mucho gusto</h4>
  <div class="social">
    <a href="https://www.linkedin.com/in/esther-herrera-alcantar" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/Estherherrera" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="mailto: graxyherrera@gmail.com" target="_blank" rel="noopener noreferrer">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>
</div>

<nav class="nav">
  <ul class="nav-list">
    <a routerLink="">Home</a>
    <a href="#">Forbes</a>
    <a href="#">Forbes</a>
    <a routerLink="about">Sobre mí</a>
  </ul>
</nav>
