<h1><span>Soy Esther Herrera</span>  Frontend Developer en Angular</h1>

<div class="me">
  <div class="blurred">

    <img src="assets/esther.jpg" alt="foto de perfil de Esther">

    <div class="image-blur">
      <div class="half-1"></div>
      <div class="half-2"></div>
    </div>
  </div>

  <section>



    <p><strong>Graduada en electromedicina,</strong> soy una mujer trabajadora y respetuosa, me apasiona
      el <strong>desarrollo web y la resolucion de problemas,</strong> mi misión es crear aplicaciones
      webs con proyectos en Angular, en conjunto con las empresas para obtener una web consistente, moderna y fresca
    </p>
    <h3>¿Cuáles son mis Habilidades Técnicas?</h3>
    <p>
      Te invito a ver uno de mis proyectos <strong><a href="" class="project">hospital-app</a></strong>
      que trata sobre la gestión de pacientes de un hospital, lo he creado con HTML, CSS, Bootstrap,
      angular, usé Git y GitHub como repositorio y lo he desplegado en netifly. Tengo habilidades en Javascript, typescript, VUE 3,
      Laravel, Matlab, C, C++ y python. También habilidades para trabajar en Equipo, sé escuchar
      respetando cada opinión, tomo iniciativa.
    </p>

    <p>
      Tengo muchas ganas de tener un gran impacto en la empresa y seguir creciendo profesionalmente
       en las herramientas del campo de programación. Espero tener la oportunidad de que
      conversemos de mi aporte en conjunto con su empresa.
    </p>

    <h3>Gracias por leerme..!</h3>

    <div class="container">
      <div class="button-project">
        <a href="#">Ver Proyecto de Gestión de Pacientes</a>
      </div>
  </div>


  </section>



</div>
