<section>
  <div class="welcome" >

    <h1><span>Bienvenido al</span><br> futuro de la <br>banca</h1>

    <p>Potencia tu experiencia: ¡Todas tus operaciones<br> financieras en la palma de tu mano con nuestra aplicación móvil!</p>

    <div class="buttonInfo">
      <a href="#">Más Información</a>
    </div>

  </div>

  <div class="blurred">

    <img src="assets/tarjeta.jpg" alt="Tarjeta visa">

    <div class="image-blur">
      <div class="half-1"></div>
      <div class="half-2"></div>
    </div>

  </div>

</section>
